modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "libGL", "libcxx", "mesa", "mtdev", "pkg-config", "xorg.libX11", "xorg.libXcursor", "xorg.libXi", "xorg.libXrandr"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "YouTube Limiter App"

[[workflows.workflow]]
name = "YouTube Limiter App"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
