modules = ["python-3.12", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "freetype", "lcms2", "libGL", "libcxx", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "mesa", "mtdev", "openjpeg", "pkg-config", "tcl", "tk", "xorg.libX11", "xorg.libXcursor", "xorg.libXi", "xorg.libXrandr", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "YouTube Limiter App"

[[workflows.workflow]]
name = "YouTube Limiter App"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[userenv]

[userenv.shared]
P4A_RELEASE_KEYALIAS = "youtubelimiter"
P4A_RELEASE_KEYALIAS_PASSWD = "android123"
P4A_RELEASE_KEYSTORE_PASSWD = "android123"
P4A_RELEASE_KEYSTORE = "release.keystore"
